* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #374a65;
}
header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.head {
    background-image: url('gear2.png');
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
}
.low {
    width: 30%;
    height: auto;
    position: absolute;
    left: 38px;
    top: 40px;
}
.lowgi {
    width: 30%;
    height: auto;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 2;
}
h1 {
    font-size: 5rem;
    font-family: montserrat;
    -webkit-text-stroke: 3px #b2c3b0;
    z-index: 1;
}
p {
    font-size: 36px;
    margin-left: 5px;
    margin-right: 55px;
    color:white;
}
.src {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0;
}
input {
    width: 70%;
    height: 50%;
    padding: 10px;
    border-radius: 22px 0 0 22px;
    border-bottom: 2px solid black;
    border-right: 0;
    font-size: 35px;
}
img.srcs {
    width: 12.3%;
    height: 12.3%;
    background: white;
    border-radius: 0 22px 22px 0;
    border-left: 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    border-top: 2px solid black;
}
.container {
    display: flex;
    width: 100vw;
    height: 100vh;
}
.sidebar {
    display: flex;
    width: 15vw;
    height: 100vh;
    background-color: #425d6d;
}
.content {
    width: 85vw;
    height: 100vh;
    padding: 10px;
    background-color: #424242;
    display: flex;
} 
li{
    width: 15vw;
    list-style-type: none;    
    padding: 10px 10px;
}
a {
    width: 100%;
    height: 10%;
    font-size: 30px;
    text-decoration: none;
    color:white;
}
.active {
    background: #e40042;
}
a:hover {
 
    
}
